.inputFieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    position: relative; /* For positioning the legend properly */
    height: 44px;
    margin-right: -8px;
    margin-left: 9px; 
    text-align: center;
}
  
  .inputLegend {
    /* font-weight: bold; */
    direction: ltr;
    margin: 0;
    font-size: 12px;
    color: #5c5a5a; /* Default text color */
    padding: 0;
    position: absolute;
    left: 10px;
    top: -15px; /* Position the legend above the border */
    background: white; /* Ensure background covers border for clarity */
  }
  
  .required {
    color: red;
    font-size: 1.2em;
  }
  
  .inputFieldset:hover,
  .inputFieldset:focus-within {
    border-color: #67a6ff;
  }
  
  .inputFieldset:focus-within .input-legend,
  .inputFieldset:hover .input-legend {
    color:  #67a6ff;
  }
  
  input {
    padding: 8px;
    font-size: 16px;
    border: none; /* Remove default input border */
    border-radius: 4px;
    width: 100%; /* Make input take full width */
    /* background-color: #5c5a5a; */
  
  }
  
  .maskedInput {
    border: none;
    outline: none; /* Remove the outline when the input is focused */
    font-size: 1rem;
    font-family: Vazirmatn;
    letter-spacing: 0.55rem;
    direction: ltr !important;
    unicode-bidi: bidi-override;
    text-align: left;
  }

  .maskedInput::placeholder {
    font-size: 0.9rem; /* Adjust the font size as needed */
    color: rgba(134, 133, 133, 0.54); /* Adjust the color if needed */
    text-align: right;
    padding-bottom: -10px;
    letter-spacing: normal;
  }

  .inputFieldset:focus-within {
    border-color:#67a6ff;
    box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.25);
    background-color: #e8f0fe;
  }

  .maskedInput:focus-within {
    background-color: #e8f0fe;
  }